@font-face {
    font-family: 'Liberation Bold';
    src: url('LiberationSans-Bold.ttf') format('ttf'),
    url('liberationsans-bold-webfont.woff') format('woff'),
    url('liberationsans-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Regular';
    src: url('LiberationSans-Regular.ttf') format('ttf'),
    url('liberationsans-regular-webfont.woff') format('woff'),
    url('liberationsans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}