//= Colors =//
$color-darkorange      : #FF8C00;
$color-darkgrey		   : #444;
$color-lightgrey	   : #607d8b;
$color-cyan			   : #006064;
$color-lightcyan	   : #00acc1;
$color-lightercyan	   : #80deea;
$color-darkcyan		   : #005155;
$color-chillwhite	   : #e0f7fa;