//= Fonts =//
@import "utils/fonts";

//= Variables =//
@import "utils/variables";

//= Helpers =//
@import "utils/helpers";

//= Vendors =//
@import "vendors/bootstrap.min.css";
@import "vendors/bootstrap-theme.min.css";
@import "vendors/font-awesome.min.css";
@import "vendors/select2.css";
@import "vendors/select2-bootstrap.css";
@import "vendors/react-input-range.css";

//= Components =//
@import "components/header";
@import "components/footer";
@import "components/misc";
@import "components/register";
@import "components/sidebar";

//= Views =//
@import "views/homepage";
@import "views/upload";
@import "views/photos";
@import "views/photo";
@import "views/people";
@import "views/messages";

/* Misc settings */

* {
	outline: none;
}

a {
	&:hover {
		text-decoration: none;
	}
}

body {
	overflow: hidden;
	background-color: #fcfcfc;
	color: #616161;
}

.delete {
	cursor: pointer;
}

.profile-header {
	img {
		width: 7em;
	}
	p {
		font-size: 1.4em;
	}
}

.logged-in {
	.view-container {
		width: 80%;
		height: calc(100% - 50px);
		overflow-y: scroll;
		padding: 2em 2em 3em;
		position: relative;
		float: left;
		.page-header {
			margin-top: 0;
			h1 {
				margin-top: 0;
				font-size: 2em;
			}
		}
	}
	.content-container {
		height: 100vh;
	}
}